.main {
    background-color: #dedede;
    padding: 25px;
}

.roster {
    margin: 20px 100px;
    width: 75%;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    table-layout: fixed;
}

.roster-row {
    display: flex;
    justify-content: space-between;
}

th,
td {
  width: 250px;
  overflow: hidden;
}