.main {
    background-color: #f2f2f2;
    padding: 25px;
}

.roster {
    margin: 20px 100px;
    width: 75%;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
}

.roster-row {
    justify-content: space-between;
}